Performance2/obj/Debug/net6.0
Performance.Services/bin
Performance.Services/obj
.vs/Performance2/config
.vs/Performance2/v17
Performance2/bin
Performance2/obj
Performance2.Data/obj
.vs/Performance2/DesignTimeBuild
